<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/styles.css" rel="stylesheet">
  <title>Nunomatic</title>
</head>
<body>
  <div class="content-wrapper">
    <div class="content">
      {{{body}}}
    </div>
    <div class="footer"></div>
  </div>
</body>
</html>